/* index.css */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;}
body{
 background-color:black;
  cursor: url("https://i.postimg.cc/YSFLRFfW/small-miss-bug.png"), auto;
  padding-bottom: 300px;
}
.container{
 display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,300px));
  gap:20px;
  justify-content: center;}



